.container {
	width: 80%;
	max-width: 700px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 2px 2px 5px #444;
	margin: 20px auto;
}
.row {
	display: flex;
	margin-bottom: 10px;
}
.box {
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
    margin: auto;
}
.center {
    justify-content: center;
}
button{
    background-color: white;
    margin: 10px;
	box-shadow: 2px 2px 5px #444;
    border: none;
    font-size: 1.2em;
}
